---
import Footer from "@components/Footer.astro";

import "@fontsource-variable/inter";
interface Props {
  description: string;
  title: string;
}
const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/145.svg" />
    <meta property="og:title" content={title} />
    <meta name="description" content={description} />
    <meta property="og:description" content={title} />
    <meta property="og:image" content={title} />
    <meta property="og:image:alt" content={title} />
    <meta property="og:url" content="https://vecambio.vercel.app" />
    <meta property="og:type" content="website" />
    <link rel="alternate" href="https://vecambio.vercel.app" hreflang="es-MX" />
    <link rel="canonical" href="https://vecambio.vercel.app" />
    <meta name="themecolor" content="#0b0a10" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={title} />
    <meta name="twitter:image" content={title} />

    <title>{title}</title>
  </head>
  <body
    class="bg-moonlit dark:bg-dusky min-h-screen scroll-smooth antialiased selection:bg-neutral-200 dark:selection:bg-neutral-700"
  >
    <main class="">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overscroll-behavior: none;
  }

  html {
    font-family: "Inter Variable", system-ui;

    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  @media (prefers-color-scheme: dark) {
    body {
      color: rgba(255, 255, 255, 0.9);
    }
  }
</style>
